
bin/
.svn/
.metadata/org.bbaw.pdr.ae.common/baseXHOME
.metadata
.settings/

ae-p2/
metadata.tar.gz
net.sf.vex.editor/
net.sf.vex.toolkit/
org.bbaw.pdr.ae.help.nl1/.classpath
org.bbaw.pdr.ae.help/.classpath
org.bbaw.pdr.ae.standalone.product.build/plugin_customization.ini
org.bbaw.pdr.ae.view.main/
org.bbaw.pdr.ae.view.markup.stext/
org.bbaw.pdr.ae.view.network/build.xml
org.bbaw.pdr.ae.view.network/javaCompiler...args
org.bbaw.pdr.ae.view.relationnetwork/
org.bbaw.pdr.ae/build.xml
org.bbaw.pdr.ae/javaCompiler...args
tags


.recommenders/
RemoteSystemsTempFiles/
meta.tar.gz
org.apache.commons.codec/
org.apache.commons.logging/
org.apache.httpcomponents.httpclient/
org.apache.httpcomponents.httpcore/
org.bbaw.pdr.ae.common/linux32-ae-delta-pack.target
org.bbaw.pdr.ae.control.datahandling.xqj/target/
org.bbaw.pdr.ae.repositoryConnection/
org.bbaw.pdr.ae.view.main.markup.stext/build.xml
org.bbaw.pdr.ae.view.main.markup.stext/javaCompiler...args
org.eclipse.rap.addons.ckeditor/
plugins/
